input {
  border: none;
  border-radius: 16px;
  padding: 6px 16px;
  outline: none;
}

button {
  border: none;
  border-radius: 16px;
  padding: 4px 16px;
}

button:hover {
  background-color: #ff7fff;
  color: #fff;
  cursor: pointer;
}

.input-area {
  background-color: #c1ffff;
  border-radius: 8px;
  height: 30px;
  margin: 8px;
  padding: 8px;
  width: 400px;
}
.incomplete-area {
  background-color: #c6ffe2;
  border-radius: 8px;
  margin: 8px;
  min-height: 200px;
  padding: 8px;
  width: 400px;
}
.complete-area {
  background-color: #ffffe0;
  border-radius: 8px;
  margin: 8px;
  min-height: 200px;
  padding: 8px;
  width: 400px;
}

.title {
  color: #666;
  font-weight: bold;
  margin-top: 0;
  text-align: center;
}

.list-row {
  align-items: center;
  display: flex;
  padding-bottom: 4px;
}

li {
  margin-right: 8px;
}
